<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/src/css/dasalevi.css">
    <link rel="stylesheet" href="~/src/fonts/fonts.css">
    <title>fruitco დასალევი</title>
    <link rel="icon" href="~/src/img/smuzi.png" type="image/x-icon">
</head>

<body>
    <header class="header">
        <a href="~/src/index.html">
            <img src="~/src/img/logo.svg" alt="logo" class="header-logo">
        </a>

        <div class="header-menu">
            <button id="menu-button" class="menu-button">
                <img src="~/src/img/menu.svg"
                     alt="menu">
            </button>
            <div id="menu" class="menu">
                <div class="menu-content">
                    <span class="close">&times;</span>

                    <img src="~/src/img/kiwi.svg" alt="fruit"
                         class="menu-image menu-image-one">
                    <img src="~/src/img/kiwi.svg" alt="fruit"
                         class="menu-image menu-image-two">
                    <img src="~/src/img/kiwi.svg" alt="fruit"
                         class="menu-image menu-image-three">
                    <img src="~/src/img/kargamoni.svg" alt="fruit"
                         class="menu-image menu-image-four">
                    <img src="~/src/img/vashli.svg" alt="fruit"
                         class="menu-image menu-image-five">

                    <div class="button-holder">
                        <ul class="site-buttons">
                            <li>
                                <a href="~/src/index.html" class="site-button"
                                   id="main">
                                    მთავარი
                                    გვერდი
                                </a>
                            </li>
                            <li>
                                <a href="~/src/dasalevi.html" class="site-button"
                                   id="drink">სასმელი</a>
                            </li>
                            <li>
                                <a href="~/src/xili.html" class="site-button"
                                   id="fruit">ხილ-ბოსტნეული</a>
                            </li>
                            <li>
                                <a href="~/src/about.html" class="site-button"
                                   id="about-us">
                                    ჩვენ
                                    შესახებ
                                </a>
                            </li>
                            <li>
                                <a href="~/src/contact.html" class="site-button"
                                   id="contact">კონტაქტი</a>
                            </li>
                        </ul>

                        <ul class="language-buttons">
                            <li><button class="language-button">ქარ</button></li>
                            <li><button class="language-button">EN</button></li>
                            <li><button class="language-button">RU</button></li>
                        </ul>

                        <ul class="media-buttons">
                            <li>
                                <a href="#" class="media-button">
                                    <img src="~/src/img/youtube.svg" alt="youtube"
                                         class="youtube">
                                </a>
                            </li>
                            <li>
                                <a href="#" class="media-button">
                                    <img src="~/src/img/facebook.svg" alt="facebook"
                                         class="facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" class="media-button">
                                    <img src="~/src/img/instagram.svg" alt="instagram"
                                         class="instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
</body>
</html>
