
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fruitco</title>
    <link rel="stylesheet" href="../../src/css/styles.css">
    <link rel="stylesheet" href="../../src/fonts/fonts.css">
</head>

<body>

    <header class="header">
        <a href="#">
            <span class="header-background">
                <img src="../../src/img/logo.svg" alt="logo" class="header-logo">
            </span>
        </a>

        <div class="header-menu">
            <!-- გასაკეთებელია მომავალში -->
        </div>
    </header>

    <img src="../../src/img/kiwi.png" alt="fruit middle" class="middle-image">

    <div class="split left">
        <div class="centered">
            <h1>დასალევი</h1>
            <p>ხილი და ბოსტნეული</p>
            <a href="#" class="button-left">გაიგე მეტი</a>
        </div>

        <img src="../../src/img/kiwi.svg" alt="fruit left two" class="left-one">
        <img src="../../src/img/kargamoni.svg" alt="fruit left three" class="left-two">
        <img src="../../src/img/kargamoni.svg" alt="fruit left four" class="left-three">
        <img src="../../src/img/vashli.svg" alt="fruit left five" class="left-four">
        <img src="../../src/img/kiwi.svg" alt="fruit left six" class="left-five">
    </div>

    <div class="split right">
        <div class="centered">
            <h1>ცოცხალი</h1>
            <p>ხილი და ბოსტნეული</p>
            <a href="#" class="button-right">გაიგე მეტი</a>
        </div>

        <img src="../../src/img/kargamoni.png" alt="fruit right one" class="right-one">
        <img src="../../src/img/main.png" alt="fruit right three" class="right-two">
        <img src="../../src/img/vashli.png" alt="fruit right four" class="right-three">
    </div>

</body>

</html>
