
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<body id="htmlbody">
   
        <section class="section-one">


            <div class="section-one-textboxes">
                <div class="section-one-textbox-one">
                    <img src="~/src/img/ketili.png" alt="banner"
                         class="section-one-textbox-one-banner">
                    <h1>დასალევი ხილი+ბოსტნეული</h1>
                    <p>
                        კივის ისტორია სამხრეთ ჩინეთში ჩენგ კიანგის მინდორზე დაიწყო.
                        ეს ხილი ჩინეთის მეფეებისთვისაც დელიკატესი იყო. პირველად იგი ბრიტანელებმა
                        იგემეს, რის შემდეგაც მის შესახებ ხმა შორს გავარდა, თუმცა მათ მხოლოდ 1847
                        წელს მოახერხეს სამშობლოში კივის თესლის წაღება. ამ ქვეყანაში ვერ გაიხარა,
                        კლიმატმა არ შეუწყო ხელი, თურმე კივს სიცივის ეშინია . 1904 წელს ამერიკელებმა
                        მოახერხეს ამ ბუჩქის წაღება, 1906 წელს ახალმა ზელანდიელებმა ამ მცენარის მხოლოდ
                        თესლი მოიპოვეს. ახალ ზელანდიაში ყველაზე კარგად იხარა, იქ მოახერხეს კივის
                        გამრავლება. ახალმა ზელანდიელებმა სელექციით 30 წელიწადში ჩინეთიდან ჩატანილზე
                        გაცილებით დიდი ნაყოფი მიიღეს. სახელი კივი, იმიტომ შეარქვეს რომ ამ ქვეყნის
                        სიამაყეს, უცნაურ, უფრთო და უკუდო ჩიტს მიამსგავსეს. თითქმის მთელ მსოფლიოშია
                        გავრცელებული, მათ შორის საქართველოშიც.
                    </p>
                    <img src="~/src/img/kiwi.svg" alt="fruit"
                         class="section-one-textbox-one-fruit">
                </div>

                <div class="section-one-textbox-two">
                    <img src="~/src/img/ketili.png" alt="banner"
                         class="section-one-textbox-two-banner">
                    <h1>დასალევი ხილი+ბოსტნეული</h1>
                    <p>
                        ვაშლი (ლათ. Malus) — ხე და ბუჩქოვან მცენარეთა გვარი ვარდისებრთა (ლათ. Rasaceae)
                        ოჯახისა. მოიცავს 33 ველურ სახეობას, რომლებიც მსოფლიოს სხვადასხვა ქვეყანაშია
                        გავრცელებული. მცირე აზიასა და კავკასიაში ფართოდაა კულტივირებული აღმოსავლური
                        ვაშლი (მაჟალო) (ლათ. Malus Orientalis). ველური ვაშლი ძვირფასი მასალაა
                        ხილის გადასამუშავებელი მრეწველობისათვის. თესლს იყენებენ საძირეების მისაღებად,
                        მასზე ამყნობენ ვაშლის კულტურულ ჯიშებს. ზოგი სახეობა გამოიყენება დეკორატიულ
                        მცენარედ. ყველა ვაშლის ყვავილს საუცხოო ნექტარი აქვს. კულტურული ვაშლი 14 მ-მდე
                        სიმაღლის ხეა. სხვადასხვა ჯიშის ნაყოფის ზომა, ფორმა და შეფერილობა სხვადასხვაგვარია.
                        წვრილნაყოფიანი ჯიშების ნაყოფი შეიძლება 25 გ-ზე ნაკლები იყოს, მსხვილნაყოფიანებისა
                        600 გ-მდე. ფორმის მიხედვით ნაყოფი მომრგვალო, ბრტყელი, ცილინდრული, კვერცხისებრი,
                        წაგრძელებული ან ზარისებრია. ნაყოფის ზედაპირი გლუვია, წიბოიანი, ზოგჯერ ბორცვიანი
                        კანის ძირითადი შეფერვა ცვალებადობს მომწვანოდან ყვითელსა და თეთრამდე. გარდა
                        ძირითადი ფერისა, ნაყოფს აქვს მფარავი ფერი, რომელიც წარმოიქმნება მზის სხივების
                        პირდაპირი ზემოქმედებით. მფარავი ფერი შეიძლება იყოს ზოლებიანი ან მთლიანი, ის
                        იცვლება ვარდისფერიდან ღია-წითელ ან მუქ-წითელ ფერამდე. ვაშლის რბილობი თეთრი,
                        მომწვანო, ყვითელი ან ვარდისფერია. ვაშლი სინათლის მოყვარული, ტენისა და საკვები
                        ნივთიერებების მომთხოვნი მცენარეა. მოჰყავთ მეხილეობის ყველა ზონაში სხვადასხვაგვარ ნიადაგზე.
                    </p>
                    <img src="~/src/img/vashli.svg" alt="fruit"
                         class="section-one-textbox-two-fruit">
                </div>
            </div>

            <div class="section-one-buttons">
                <button class="section-one-buttons-button button-one">ტექნოლოგია</button>
                <button class="section-one-buttons-button button-two">ინგრედიენტები</button>
                <img src="~/src/img/teqnologiebi.svg" alt="icon" class="icon-one">
                <img src="~/src/img/ingredientebi.svg" alt="icon" class="icon-two">
            </div>

            <!-- <img src="~/src/img/kiwi.svg" alt="fruit" class="section-one-image-one"> -->
            <!-- <img src="~/src/img/kiwi.svg" alt="fruit" class="section-one-image-two"> -->
            <!-- <img src="~/src/img/kargamoni.svg" alt="fruit" class="section-one-image-three"> -->
            <!-- <img src="~/src/img/vashli.svg" alt="fruit" class="section-one-image-four"> -->
            <!-- <img src="~/src/img/dasalevi 1.png" alt="fruit" class="section-one-image-five"> -->

        </section>
    

    <section class="section-two">
    </section>
    <section class="section-two">
    </section>

    <footer>
    </footer>

</body>
<script src="~/src/scripts/menu.js"></script>