$color-white: #ffffff;
$color-black: #111111;
$color-primary: #39b549;
$color-secondary: #221f1f;
$color-third: #fff8e7;
$color-fourth: #e8fcff;
$color-button-one: #d9df20;
$color-button-two: #fafe8a;

* {
  padding: 0;
  margin: 0;
  display: block;
  title {
    display: none;
  }
  body {
    .header {
      z-index: 5;
      //logo-background
      .header-background {
        top: 56px;
        z-index: 6;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 161px;
        height: 161px;
        border-radius: 50%;
        background-color: $color-white;
        -webkit-box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.75);
        &:hover {
          top: 52px;
          -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.75);
          transition: all 0.2s;
        }
        &:active {
          top: 55px;
          -webkit-box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.75);
          transition: all 0.3s;
        }
        //logo
        .header-logo {
          z-index: 7;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      //menu
      .header-menu {
        overflow-x: hidden;
        //button that turns on the menu screen
        .menu-button {
          z-index: 6;
          position: absolute;
          top: 46px;
          right: 50px;
          width: 50px;
          height: 25px;
          background-color: transparent;
          border: none;
          outline: none;
          &:hover {
            top: 44px;
            transition: all 0.2s;
            cursor: pointer;
          }
          &:active {
            top: 45px;
            transform: scale(1.2);
            transition: all 0.2s;
          }
        }
        .menu {
          display: none;
          position: fixed;
          z-index: 15;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .menu-content {
            background-image: linear-gradient($color-third, $color-fourth);
            width: 100%;
            height: 100%;
            .site-buttons {
              position: absolute;
              top: 13vw;
              left: 50%;
              transform: translateX(-50%);
              animation-name: menuSiteButtons;
              animation-duration: 0.7s;
              li {
                .site-button {
                  display: inline-block;
                  position: relative;
                  left: 50%;
                  line-height: 56px;
                  text-align: center;
                  padding: 18px 176px;
                  outline: none;
                  border: none;
                  text-decoration: none;
                  transform: translateX(-50%);
                  border-radius: 50px;
                  letter-spacing: 2px;
                  font-size: 36px;
                  font-family: "Conv_FiraGO-Bold";
                  color: $color-primary;
                  background-color: transparent;
                  transform-style: preserve-3d;
                  &::selection {
                    background: $color-button-one;
                  }
                  &::-moz-selection {
                    background: $color-button-one;
                  }
                  &:hover {
                    transform: translate(-50%, -3px);
                    background-color: $color-primary;
                    color: $color-secondary;
                    transition: all 0.1s;
                  }
                  &:hover::after {
                    content: "";
                    position: absolute;
                    background-color: $color-button-one;
                    height: 100%;
                    width: 100%;
                    top: 6px;
                    left: 6px;
                    z-index: -1;
                    border-radius: 50px;
                    transform: translateZ(-1px);
                  }
                  &:active::after {
                    content: "";
                    position: absolute;
                    background-color: $color-button-two;
                    height: 100%;
                    width: 100%;
                    top: 12px;
                    left: 12px;
                    z-index: -2;
                    border-radius: 50px;
                    transform: translateZ(-2px);
                  }
                  &:active {
                    transform: translate(-50%, -1px);
                    transition: all 0.1s;
                  }
                }
              }
            }
            .language-buttons {
              display: table;
              position: absolute;
              bottom: 12vw;
              left: 50%;
              transform: translate(-50%, -50%);
              animation-name: menuLanguageButtons;
              animation-duration: 0.7s;
              li {
                float: left;
              }
              button {
                width: 79px;
                height: 79px;
              }
              .language-button {
                margin: 0 20px;
                border-radius: 50%;
                display: inline;
                text-align: center;
                outline: none;
                border: none;
                text-decoration: none;
                font-size: 24px;
                letter-spacing: 2px;
                font-family: "Conv_FiraGO-SemiBold";
                color: $color-secondary;
                background-color: transparent;
                transform-style: preserve-3d;
                &::selection {
                  background: $color-button-one;
                }
                &::-moz-selection {
                  background: $color-button-one;
                }
                &:hover {
                  transform: translateY(-3px);
                  background-color: $color-primary;
                  transition: all 0.1s;
                }
                &:hover::after {
                  content: "";
                  position: absolute;
                  background-color: $color-button-one;
                  height: 100%;
                  width: 100%;
                  top: 6px;
                  left: 6px;
                  z-index: -1;
                  border-radius: 50%;
                  transform: translateZ(-1px);
                }
                &:active::after {
                  content: "";
                  position: absolute;
                  background-color: $color-button-two;
                  height: 100%;
                  width: 100%;
                  top: 12px;
                  left: 12px;
                  z-index: -2;
                  border-radius: 50%;
                  transform: translateZ(-2px);
                }
                &:active {
                  transform: translateY(-1px);
                  transition: all 0.1s;
                }
              }
            }
            .media-buttons {
              display: table;
              position: absolute;
              bottom: 2vw;
              left: 50%;
              transform: translate(-50%, -50%);
              animation-name: menuMediaButtons;
              animation-duration: 0.7s;
              li {
                float: left;
                margin: 0 10px;
              }
              .youtube {
                width: 41px;
                height: auto;
                margin: -5px 0;
                &::selection {
                  background: none;
                }
                &::-moz-selection {
                  background: none;
                }
              }
              .facebook {
                width: 28px;
                height: auto;
                &::selection {
                  background: none;
                }
                &::-moz-selection {
                  background: none;
                }
              }
              .instagram {
                width: 29px;
                height: auto;
                &::selection {
                  background: none;
                }
                &::-moz-selection {
                  background: none;
                }
              }
            }
            .menu-image {
              &::selection {
                background: none;
              }
              &::-moz-selection {
                background: none;
              }
            }
            .menu-image-one {
              position: relative;
              left: 49%;
              top: -19%;
              width: 440px;
              height: auto;
              -ms-transform: rotate(-25deg);
              -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
              animation-name: menuImageOne;
              animation-duration: 0.7s;
            }
            .menu-image-two {
              position: relative;
              left: 84.7%;
              top: 3%;
              width: 600px;
              height: auto;
              -ms-transform: rotate(200deg);
              -webkit-transform: rotate(200deg);
              transform: rotate(200deg);
              animation-name: menuImageTwo;
              animation-duration: 0.7s;
            }
            .menu-image-three {
              position: relative;
              left: -19%;
              top: -14%;
              width: 700px;
              height: auto;
              -ms-transform: rotate(-30deg);
              -webkit-transform: rotate(-30deg);
              transform: rotate(-30deg);
              animation-name: menuImageThree;
              animation-duration: 0.7s;
            }
            .menu-image-four {
              position: relative;
              left: 79%;
              top: -42%;
              width: 300px;
              height: auto;
              -ms-transform: rotate(35deg);
              -webkit-transform: rotate(35deg);
              transform: rotate(35deg);
              animation-name: menuImageFour;
              animation-duration: 0.7s;
            }
            .menu-image-five {
              position: relative;
              left: -4%;
              top: -167%;
              width: 650px;
              height: auto;
              -ms-transform: rotate(-50deg) scaleX(-1);
              -webkit-transform: rotate(-50deg) scaleX(-1);
              transform: rotate(-50deg) scaleX(-1);
              animation-name: menuImageFive;
              animation-duration: 0.7s;
            }
            .close {
              color: $color-primary;
              position: absolute;
              right: 55px;
              font-size: 150px;
              font-weight: bold;
              &:hover {
                color: $color-secondary;
                text-decoration: none;
                cursor: pointer;
                top: -5px;
                transition: all 0.2s;
              }
            }
          }
        }
      }
    }
    //kiwi image in the middle
    .middle-image {
      position: absolute;
      z-index: 11;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-name: middleImage;
      animation-duration: 0.5s;
      //selection turned off
      &::selection {
        background: none;
      }
      &::-moz-selection {
        background: none;
      }
    }
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      top: 0;
      overflow-x: hidden;
      //images selection turned off on both sides
      .fruit {
        &::selection {
          background: none;
        }
        &::-moz-selection {
          background: none;
        }
      }
      .centered {
        h1 {
          z-index: 10;
          position: absolute;
          font-size: 57px;
          margin-top: 261px;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          font-family: "Conv_FiraGO-ExtraBold";
          animation-name: moveHeadingUp;
          animation-duration: 0.7s;
        }
        p {
          z-index: 10;
          position: absolute;
          font-size: 27px;
          margin-top: 319px;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 300px;
          font-family: "Conv_FiraGO-SemiBold";
          animation-name: moveHeadingUp;
          animation-duration: 0.7s;
        }
        .button {
          z-index: 10;
          position: absolute;
          margin-top: 510px;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          padding: 25px 46px;
          outline: none;
          border: none;
          text-decoration: none;
          border-radius: 50px;
          font-size: 18px;
          font-family: "Conv_FiraGO-Bold";
          transform-style: preserve-3d;
          animation-name: moveButtonUp;
          animation-duration: 0.7s;
          &:hover {
            margin-top: 507px;
            transition: all 0.2s;
          }
          &:active {
            margin-top: 508px;
            transition: all 0.2s;
          }
          &:hover::after {
            content: "";
            position: absolute;
            background-color: $color-button-one;
            height: 100%;
            width: 100%;
            top: 6px;
            left: 6px;
            z-index: -1;
            border-radius: 50px;
            transform: translateZ(-1px);
          }
        }
        .button-left {
          color: $color-black;
          background-color: $color-white;
          &::selection {
            background: $color-primary;
          }
          &::-moz-selection {
            background: $color-primary;
          }
          &:active::after {
            content: "";
            position: absolute;
            background-color: $color-primary;
            height: 100%;
            width: 100%;
            top: 12px;
            left: 12px;
            z-index: -2;
            border-radius: 50px;
            transition: all 0.05s;
          }
        }
        .button-right {
          color: $color-white;
          background-color: $color-primary;
          &::selection {
            background: $color-secondary;
          }
          &::-moz-selection {
            background: $color-secondary;
          }
          &:active::after {
            content: "";
            position: absolute;
            background-color: $color-button-two;
            height: 100%;
            width: 100%;
            top: 12px;
            left: 12px;
            z-index: -2;
            border-radius: 50px;
            transition: all 0.05s;
          }
        }
      }
    }
    //left screen
    .left {
      overflow: hidden;
      position: absolute;
      left: 0;
      background-color: $color-secondary;
      z-index: 3;
      h1 {
        color: $color-white;
        &::selection {
          background: $color-primary;
        }
        &::-moz-selection {
          background: $color-primary;
        }
      }
      p {
        color: $color-white;
        &::selection {
          background: $color-primary;
        }
        &::-moz-selection {
          background: $color-primary;
        }
      }
      .left-one {
        position: relative;
        left: 29%;
        top: -21%;
        width: 550px;
        height: auto;
        -ms-transform: rotate(314deg);
        -webkit-transform: rotate(314deg);
        transform: rotate(314deg);
        animation-name: leftImageOne;
        animation-duration: 0.5s;
      }
      .left-two {
        position: relative;
        left: -12%;
        top: -24%;
        width: 365px;
        height: 366px;
        -ms-transform: rotate(290deg);
        -webkit-transform: rotate(290deg);
        transform: rotate(290deg);
        animation-name: leftImageTwo;
        animation-duration: 0.5s;
      }
      .left-three {
        position: relative;
        left: 71%;
        top: 7%;
        width: 203px;
        height: 350px;
        -ms-transform: rotate(165deg);
        -webkit-transform: rotate(165deg);
        transform: rotate(165deg);
        animation-name: leftImageThree;
        animation-duration: 0.5s;
      }
      .left-four {
        position: relative;
        left: -8%;
        top: -51%;
        width: 819px;
        height: auto;
        -ms-transform: rotate(140deg) scaleX(-1);
        -webkit-transform: rotate(140deg) scaleX(-1);
        transform: rotate(140deg) scaleX(-1);
        animation-name: leftImageFour;
        animation-duration: 0.5s;
      }
      .left-five {
        position: relative;
        left: -21%;
        top: -100%;
        width: 659px;
        height: 575px;
        -ms-transform: rotate(22deg);
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg);
        animation-name: leftImageFive;
        animation-duration: 0.5s;
      }
    }
    //right screen
    .right {
      overflow: hidden;
      right: 0;
      background-image: linear-gradient($color-third, $color-fourth);
      z-index: 4;
      h1 {
        color: $color-primary;
        &::selection {
          background: $color-secondary;
        }
        &::-moz-selection {
          background: $color-secondary;
        }
      }
      p {
        color: $color-primary;
        &::selection {
          background: $color-secondary;
        }
        &::-moz-selection {
          background: $color-secondary;
        }
      }
      .right-one {
        position: relative;
        left: 19%;
        top: 0;
        animation-name: rightImageOne;
        animation-duration: 0.5s;
      }
      .right-two {
        position: relative;
        left: 3%;
        top: 58%;
        animation-name: rightImageTwo;
        animation-duration: 0.5s;
      }
      .right-three {
        position: relative;
        left: 62%;
        top: -33%;
        animation-name: rightImageThree;
        animation-duration: 0.5s;
      }
    }
  }
  @keyframes moveHeadingUp {
    0% {
      opacity: 0;
      padding-top: 75px;
    }
    100% {
      opacity: 1;
      padding-top: 0;
    }
  }
  @keyframes moveButtonUp {
    0% {
      margin-top: 585px;
    }
    100% {
      margin-top: 510px;
    }
  }
  @keyframes leftImageOne {
    0% {
      left: 26%;
    }
    100% {
      left: 29%;
    }
  }
  @keyframes leftImageTwo {
    0% {
      top: -27%;
    }
    100% {
      top: -24%;
    }
  }
  @keyframes leftImageThree {
    0% {
      left: 74%;
    }
    100% {
      left: 71%;
    }
  }
  @keyframes leftImageFour {
    0% {
      left: -11%;
    }
    100% {
      left: -8%;
    }
  }
  @keyframes leftImageFive {
    0% {
      top: -97%;
    }
    100% {
      top: -100%;
    }
  }
  @keyframes middleImage {
    0% {
      top: 63%;
    }
    100% {
      top: 60%;
    }
  }
  @keyframes rightImageOne {
    0% {
      top: -3%;
    }
    100% {
      top: 0;
    }
  }
  @keyframes rightImageTwo {
    0% {
      left: 0;
    }
    100% {
      left: 3%;
    }
  }
  @keyframes rightImageThree {
    0% {
      left: 65%;
    }
    100% {
      left: 62%;
    }
  }
  @keyframes menuSiteButtons {
    0% {
      top: 14vw;
      opacity: 0;
    }
    100% {
      top: 13vw;
      opacity: 1;
    }
  }
  @keyframes menuLanguageButtons {
    0% {
      left: 46%;
      opacity: 0;
    }
    100% {
      left: 50%;
      opacity: 1;
    }
  }
  @keyframes menuMediaButtons {
    0% {
      bottom: 1vw;
      opacity: 0;
    }
    100% {
      bottom: 2vw;
      opacity: 1;
    }
  }
  @keyframes menuImageOne {
    0% {
      top: -22%;
    }
    100% {
      top: -19%;
    }
  }
  @keyframes menuImageTwo {
    0% {
      left: 87.7%;
    }
    100% {
      left: 84.7%;
    }
  }
  @keyframes menuImageThree {
    0% {
      top: -11%;
    }
    100% {
      top: -14%;
    }
  }
  @keyframes menuImageFour {
    0% {
      left: 76%;
    }
    100% {
      left: 79%;
    }
  }
  @keyframes menuImageFive {
    0% {
      left: -7%;
      top: -170%;
    }
    100% {
      left: -4%;
      top: -167%;
    }
  }
}

@media only screen and (max-width: 1680px) {
  * {
    body {
      .header {
        .header-menu {
          .menu {
            .menu-content {
              .site-buttons {
                top: 12vw;
                li {
                  .site-button {
                    line-height: 52px;
                    padding: 18px 166px;
                    font-size: 32px;
                  }
                }
              }
              .language-buttons {
                bottom: 13vw;
              }
              .menu-image-five {
                top: -170%;
              }
            }
          }
        }
      }
      .middle-image {
        top: 55%;
        left: 50%;
      }
      .left {
        .left-one {
          left: 26%;
          top: -21%;
          width: 530px;
          height: auto;
        }
        .left-two {
          left: -14%;
          top: -24%;
          width: 365px;
          height: 366px;
        }
        .left-three {
          left: 71%;
          top: 7%;
          width: 203px;
          height: 350px;
        }
        .left-four {
          left: -16%;
          top: -51%;
          width: 778px;
          height: auto;
        }
        .left-five {
          left: -24%;
          top: -97%;
          width: 659px;
          height: 575px;
        }
      }
      .right {
        .right-one {
          left: 19%;
          top: 0;
        }
        .right-two {
          left: 3%;
          top: 58%;
        }
        .right-three {
          left: 62%;
          top: -33%;
        }
      }
    }
    @keyframes leftImageOne {
      0% {
        left: 23%;
      }
      100% {
        left: 26%;
      }
    }
    @keyframes leftImageTwo {
      0% {
        top: -27%;
      }
      100% {
        top: -24%;
      }
    }
    @keyframes leftImageThree {
      0% {
        left: 74%;
      }
      100% {
        left: 71%;
      }
    }
    @keyframes leftImageFour {
      0% {
        left: -19%;
      }
      100% {
        left: -16%;
      }
    }
    @keyframes leftImageFive {
      0% {
        top: -94%;
      }
      100% {
        top: -97%;
      }
    }
    @keyframes middleImage {
      0% {
        top: 58%;
      }
      100% {
        top: 55%;
      }
    }
    @keyframes rightImageOne {
      0% {
        top: -3%;
      }
      100% {
        top: 0;
      }
    }
    @keyframes rightImageTwo {
      0% {
        left: 0;
      }
      100% {
        left: 3%;
      }
    }
    @keyframes rightImageThree {
      0% {
        left: 65%;
      }
      100% {
        left: 62%;
      }
    }
    @keyframes menuSiteButtons {
      0% {
        top: 13vw;
        opacity: 0;
      }
      100% {
        top: 12vw;
        opacity: 1;
      }
    }
    @keyframes menuImageFive {
      0% {
        left: -7%;
        top: -173%;
      }
      100% {
        left: -4%;
        top: -170%;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  * {
    body {
      .header {
        .header-menu {
          .menu {
            .menu-content {
              .site-buttons {
                top: 10vw;
                li {
                  .site-button {
                    line-height: 48px;
                    padding: 18px 146px;
                    font-size: 28px;
                  }
                }
              }
              .language-buttons {
                bottom: 14vw;
                button {
                  width: 75px;
                  height: 75px;
                }
                .language-button {
                  font-size: 22px;
                }
              }
              .menu-image-one {
                left: 48%;
                top: -19%;
                width: 380px;
              }
              .menu-image-two {
                width: 550px;
              }
              .menu-image-three {
                left: -21%;
                top: -24%;
                width: 620px;
              }
              .menu-image-four {
                left: 77%;
                top: -46%;
                width: 230px;
              }
              .menu-image-five {
                left: -4%;
                top: -171%;
                width: 570px;
              }
              .close {
                right: 50px;
              }
            }
          }
        }
      }
      .middle-image {
        z-index: 11;
        top: 63%;
        left: 50%;
        width: auto;
        height: 350px;
        transform: translate(-50%, -50%);
      }
      .left {
        .left-one {
          left: 24%;
          top: -21%;
          width: 500px;
          height: auto;
        }
        .left-two {
          left: -18%;
          top: -22%;
          width: 345px;
          height: 346px;
        }
        .left-three {
          visibility: hidden;
          left: 71%;
          top: 7%;
          width: 203px;
          height: 350px;
        }
        .left-four {
          left: -26%;
          top: -51%;
          width: 720px;
          height: auto;
        }
        .left-five {
          left: -34%;
          top: -97%;
          width: 659px;
          height: 575px;
        }
      }
      .right {
        .right-one {
          left: 19%;
          top: 0;
        }
        .right-two {
          left: 3%;
          top: 64%;
          height: auto;
          width: 462px;
        }
        .right-three {
          left: 62%;
          top: -33%;
        }
      }
    }
    @keyframes leftImageOne {
      0% {
        left: 21%;
      }
      100% {
        left: 24%;
      }
    }
    @keyframes leftImageTwo {
      0% {
        top: -25%;
      }
      100% {
        top: -22%;
      }
    }
    @keyframes leftImageThree {
      0% {
        left: 74%;
      }
      100% {
        left: 71%;
      }
    }
    @keyframes leftImageFour {
      0% {
        left: -29%;
      }
      100% {
        left: -26%;
      }
    }
    @keyframes leftImageFive {
      0% {
        top: -94%;
      }
      100% {
        top: -97%;
      }
    }
    @keyframes middleImage {
      0% {
        top: 66%;
      }
      100% {
        top: 63%;
      }
    }
    @keyframes rightImageOne {
      0% {
        top: -3%;
      }
      100% {
        top: 0;
      }
    }
    @keyframes rightImageTwo {
      0% {
        left: 0;
      }
      100% {
        left: 3%;
      }
    }
    @keyframes rightImageThree {
      0% {
        left: 65%;
      }
      100% {
        left: 62%;
      }
    }
    @keyframes menuSiteButtons {
      0% {
        top: 11vw;
        opacity: 0;
      }
      100% {
        top: 10vw;
        opacity: 1;
      }
    }
    @keyframes menuImageOne {
      0% {
        top: -22%;
      }
      100% {
        top: -19%;
      }
    }
    @keyframes menuImageTwo {
      0% {
        left: 87.7%;
      }
      100% {
        left: 84.7%;
      }
    }
    @keyframes menuImageThree {
      0% {
        top: -21%;
      }
      100% {
        top: -24%;
      }
    }
    @keyframes menuImageFour {
      0% {
        left: 74%;
      }
      100% {
        left: 77%;
      }
    }
    @keyframes menuImageFive {
      0% {
        left: -7%;
        top: -174%;
      }
      100% {
        left: -4%;
        top: -171%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  * {
    body {
      .header {
        .header-menu {
          .menu {
            .menu-content {
              .site-buttons {
                top: 13vw;
                li {
                  .site-button {
                    line-height: 42px;
                    padding: 18px 100px;
                    width: 240px;
                    letter-spacing: 1px;
                    font-size: 26px;
                  }
                }
              }
              .language-buttons {
                bottom: 15vw;
                button {
                  width: 72px;
                  height: 72px;
                }
                .language-button {
                  font-size: 21px;
                }
              }
              .menu-image-one {
                width: 350px;
              }
              .menu-image-two {
                width: 400px;
              }
              .menu-image-three {
                left: -19%;
                top: -6%;
                width: 450px;
              }
              .menu-image-four {
                left: 73%;
                top: -27%;
                width: 200px;
              }
              .menu-image-five {
                left: -4%;
                top: -148%;
                width: 400px;
              }
              .close {
                right: 42px;
              }
            }
          }
        }
      }
      .middle-image {
        z-index: 11;
        top: 57%;
        left: 50%;
        width: auto;
        height: 250px;
        transform: translate(-50%, -50%);
      }

      .left {
        .left-one {
          left: 18%;
          top: -21%;
          width: 450px;
          height: auto;
        }

        .left-two {
          left: -33%;
          top: -17%;
          width: 325px;
          height: 326px;
        }

        .left-three {
          left: 71%;
          top: 7%;
          width: 203px;
          height: 350px;
        }

        .left-four {
          visibility: hidden;
          left: -16%;
          top: -51%;
          width: 720px;
          height: auto;
        }

        .left-five {
          left: -24%;
          top: -97%;
          width: 659px;
          height: 575px;
        }
      }

      .right {
        .right-one {
          left: 19%;
          top: 0;
          width: 250px;
        }

        .right-two {
          left: 3%;
          top: 67%;
          height: auto;
          width: 440px;
        }

        .right-three {
          left: 68%;
          top: -19%;
          height: 570px;
        }
      }
    }

    @keyframes leftImageOne {
      0% {
        left: 15%;
      }

      100% {
        left: 18%;
      }
    }
    @keyframes leftImageTwo {
      0% {
        top: -20%;
      }

      100% {
        top: -17%;
      }
    }
    @keyframes leftImageThree {
      0% {
        left: 74%;
      }

      100% {
        left: 71%;
      }
    }
    @keyframes leftImageFour {
      0% {
        left: -19%;
      }

      100% {
        left: -16%;
      }
    }
    @keyframes leftImageFive {
      0% {
        top: -94%;
      }

      100% {
        top: -97%;
      }
    }
    @keyframes middleImage {
      0% {
        top: 60%;
      }

      100% {
        top: 57%;
      }
    }
    @keyframes rightImageOne {
      0% {
        top: -3%;
      }

      100% {
        top: 0;
      }
    }
    @keyframes rightImageTwo {
      0% {
        left: 0;
      }

      100% {
        left: 3%;
      }
    }
    @keyframes rightImageThree {
      0% {
        left: 71%;
      }

      100% {
        left: 68%;
      }
    }
    @keyframes menuSiteButtons {
      0% {
        top: 14vw;
        opacity: 0;
      }
      100% {
        top: 13vw;
        opacity: 1;
      }
    }
    @keyframes menuLanguageButtons {
      0% {
        left: 46%;
        opacity: 0;
      }
      100% {
        left: 50%;
        opacity: 1;
      }
    }
    @keyframes menuMediaButtons {
      0% {
        bottom: 1vw;
        opacity: 0;
      }
      100% {
        bottom: 2vw;
        opacity: 1;
      }
    }
    @keyframes menuImageOne {
      0% {
        top: -22%;
      }
      100% {
        top: -19%;
      }
    }
    @keyframes menuImageTwo {
      0% {
        left: 87.7%;
      }
      100% {
        left: 84.7%;
      }
    }
    @keyframes menuImageThree {
      0% {
        top: -3%;
      }
      100% {
        top: -6%;
      }
    }
    @keyframes menuImageFour {
      0% {
        left: 70%;
      }
      100% {
        left: 73%;
      }
    }
    @keyframes menuImageFive {
      0% {
        left: -7%;
        top: -151%;
      }
      100% {
        left: -4%;
        top: -148%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  * {
    body {
      .header {
        .header-background {
          top: 50px;
          left: 84px;
          background-color: transparent;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          &:hover {
            top: 52px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            transition: none;
          }
          &:active {
            top: 55px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            transition: none;
          }
        }
        .header-menu {
          .menu {
            .menu-content {
              .site-buttons {
                top: 175px;
                li {
                  .site-button {
                    line-height: 38px;
                    padding: 18px 8vw;
                    letter-spacing: 2px;
                    font-size: 24px;
                  }
                }
              }
              .language-buttons {
                  width: 310px;
                  bottom: 21vw;
                button {
                  width: 61px;
                  height: 61px;
                }
                .language-button {
                  margin: 0 20px;
                  font-size: 18px;
                }
              }
              .media-buttons {
                display: none;
              }
              .menu-image-one {
                display: none;
              }
              .menu-image-two {
                left: 85%;
                top: 15%;
                width: 350px;
              }
              .menu-image-three {
                display: none;
              }
              .menu-image-four {
                left: 35%;
                top: 55%;
                width: 140px;
              }
              .menu-image-five {
                left: -21%;
                top: -70%;
                width: 350px;
              }
              .close {
                top: -12%;
                right: 50%;
                transform: translate(50%, 50%);
                font-size: 120px;
                &:hover {
                  color: $color-secondary;
                  text-decoration: none;
                  cursor: pointer;
                  top: -13%;
                  transition: all 0.2s;
                }
              }
            }
          }
        }
      }
      .middle-image {
        top: 50%;
        width: 37vw;
        height: auto;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
      .split {
        height: 50%;
        width: 100%;
        left: 0;
        top: auto;
        .centered {
          h1 {
            font-size: 48px;
            margin-top: 146px;
            letter-spacing: 5px;
          }
          p {
            font-size: 23px;
            margin-top: 195px;
            letter-spacing: 2px;
            width: 330px;
          }
          a {
            display: none;
          }
        }
      }
      .left {
        bottom: 0;
        .left-one {
          display: none;
          left: 29%;
          top: -21%;
          width: 550px;
          height: auto;
        }
        .left-two {
          display: none;
          left: -12%;
          top: -24%;
          width: 365px;
          height: 366px;
        }
        .left-three {
          visibility: visible;
          left: 81%;
          top: 60%;
          width: auto;
          height: 21vh;
        }
        .left-four {
          visibility: visible;
          left: 11%;
          top: 17%;
          width: 50vw;
          height: auto;
        }
        .left-five {
          visibility: visible;
          left: -29%;
          top: -25%;
          width: 76vw;
          height: auto;
        }
      }
      .right {
        top: 0;
        .right-one {
          left: -65px;
          top: 25vh;
          width: auto;
          height: 14vh;
          transform: rotate(-90deg);
        }
        .right-two {
          display: none;
        }
        .right-three {
          left: 85%;
          top: -21%;
          width: auto;
          height: 35vh;
        }
      }
    }
    @keyframes leftImageOne {
      0% {
        left: 26%;
      }
      100% {
        left: 29%;
      }
    }
    @keyframes leftImageTwo {
      0% {
        top: -27%;
      }
      100% {
        top: -24%;
      }
    }
    @keyframes leftImageThree {
      0% {
        left: 84%;
      }
      100% {
        left: 81%;
      }
    }
    @keyframes leftImageFour {
      0% {
        left: 8%;
      }
      100% {
        left: 11%;
      }
    }
    @keyframes leftImageFive {
      0% {
        top: -28%;
      }
      100% {
        top: -25%;
      }
    }
    @keyframes middleImage {
      0% {
        left: 53%;
      }
      100% {
        left: 50%;
      }
    }
    @keyframes rightImageOne {
      0% {
        top: 29vh;
      }
      100% {
        top: 25vh;
      }
    }
    @keyframes rightImageThree {
      0% {
        top: -26%;
      }
      100% {
        top: -21%;
      }
    }
    @keyframes menuSiteButtons {
      0% {
        top: 195px;
        opacity: 0;
      }
      100% {
        top: 175px;
        opacity: 1;
      }
    }
    @keyframes menuLanguageButtons {
      0% {
        left: 46%;
        opacity: 0;
      }
      100% {
        left: 50%;
        opacity: 1;
      }
    }
    @keyframes menuMediaButtons {
      0% {
        bottom: 1vw;
        opacity: 0;
      }
      100% {
        bottom: 2vw;
        opacity: 1;
      }
    }
    @keyframes menuImageOne {
      0% {
        top: -22%;
      }
      100% {
        top: -19%;
      }
    }
    @keyframes menuImageTwo {
      0% {
        left: 88%;
      }
      100% {
        left: 85%;
      }
    }
    @keyframes menuImageThree {
      0% {
        top: -11%;
      }
      100% {
        top: -14%;
      }
    }
    @keyframes menuImageFour {
      0% {
        left: 32%;
      }
      100% {
        left: 35%;
      }
    }
    @keyframes menuImageFive {
      0% {
        left: -24%;
        top: -73%;
      }
      100% {
        left: -21%;
        top: -70%;
      }
    }
  }
}